ConsoleApplication1/ConsoleApplication1/Debug/ConsoleApplication1.exe.recipe
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleApplication1.log
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleApplication1.obj
ConsoleApplication1/ConsoleApplication1/Debug/vc142.idb
ConsoleApplication1/ConsoleApplication1/Debug/vc142.pdb
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.cf2d6731.tlog/CL.command.1.tlog
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.cf2d6731.tlog/CL.read.1.tlog
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.cf2d6731.tlog/CL.write.1.tlog
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.cf2d6731.tlog/ConsoleApplication1.lastbuildstate
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.cf2d6731.tlog/link.command.1.tlog
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.cf2d6731.tlog/link.read.1.tlog
ConsoleApplication1/ConsoleApplication1/Debug/ConsoleA.cf2d6731.tlog/link.write.1.tlog
ConsoleApplication1/.vs/ConsoleApplication1/v16/.suo
ConsoleApplication1/.vs/ConsoleApplication1/v16/Browse.VC.db
ConsoleApplication1/.vs/ConsoleApplication1/v16/Browse.VC.db-shm
ConsoleApplication1/.vs/ConsoleApplication1/v16/Browse.VC.db-wal
ConsoleApplication1/.vs/ConsoleApplication1/v16/Browse.VC.opendb
ConsoleApplication1/.vs/ConsoleApplication1/v16/ipch/AutoPCH/592ad7b6d418cfa4/CONSOLEAPPLICATION1.ipch
programers/.vs/programers/v16/.suo
programers/.vs/programers/v16/Browse.VC.db
